body{
    background-color: blue;
    text-align: center;
    color: white;
}
h1{
    padding-top: 50px;
}
a{
    text-decoration: none;
       color: white;
}
p {
    padding: 800px 30px;
    font-size: 40px;
    
}
